
/*reds: 531307 A0776F 6D352A A0250E EC3715 */

body{ 
	background-color:#1f1f1f;
	font-family: Helvetica;

}

h1{
	font-size: 100px;
	font-weight: bolder;
	color:  #531307; /*#A0776F;*/
	letter-spacing: 0.1em;
	font-family: 'Alegreya', serif;
	opacity: 0.9;

}

thead{
	background-color: #362F36;
	font-size: 18px;
	font-weight: bold;
	margin:none;
}
th{
	text-align: center;
}

td{
	font-size:14px;
	text-align: center;
}
#title{
	text-align: center;
	background-image: url("../images/snow_train.jpeg");
	background-size: auto 100%;
}

form{
	background-color: #A0776F;
	padding: 2%;
	margin: 5%;
	font-size: 20px;
	border: solid;
	border-color: #C0C0C0;

}

.container{
	background-color: #A0776F;
	padding: 0.5%;
	margin: 2%;
	border: solid;
	border-color: #C0C0C0;

}

.tbody{
	text-align: center;
}
